<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cobona.vici.common.persistence.dao.MetadataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cobona.vici.common.persistence.model.Metadata">
        <id column="id" property="id" />
        <result column="tablename" property="tablename" />
        <result column="tablenamecn" property="tablenamecn" />
        <result column="field" property="field" />
        <result column="fieldtype" property="fieldtype" />
        <result column="fieldlength" property="fieldlength" />
        <result column="decimalpoint" property="decimalpoint" />
        <result column="isnullable" property="isnullable" />
        <result column="title" property="title" />
        <result column="isdelcascade" property="isdelcascade" />
        <result column="fathernode" property="fathernode" />
        <result column="ismajorkey" property="ismajorkey" />
        <result column="isvalid" property="isvalid" />
        <result column="updatetime" property="updatetime" />
        <result column="operator" property="operator" />
        <result column="operatnum" property="operatnum" />
        <result column="operatnumbefore" property="operatnumbefore" />
         <result column="display" property="display" />
        <result column="update" property="update" />
        <result column="add" property="add" />
        <result column="verifyrole" property="verifyrole" />
        <result column="isselect" property="isselect" />
        <result column="dict" property="dict" />
        <result column="inputtype" property="inputtype" />
        <result column="onclick" property="onclick" />
        <result column="ondblclick" property="ondblclick" />
        <result column="onfocus" property="onfocus" />
        <result column="onblur" property="onblur" />
        <result column="fieldsort" property="fieldsort" />
        <result column="issort" property="issort" />
        <result column="imp" property="imp" />
        <result column="exp" property="exp" />
        <result column="readonly" property="readonly" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tablename, tablenamecn, field, fieldtype, fieldlength, decimalpoint, isnullable, title, isdelcascade, fathernode, ismajorkey, isvalid, updatetime, operator, operatnum, operatnumbefore,display,update,add,verifyrole,isselect,dict,inputtype,onclick,ondblclick,onfocus,onblur,fieldsort,issort,imp,exp,readonly
    </sql>

    
       
       <update id="createTable">
        create table ${newTableName}(
        ${tableBody}
        )comment='${tableComm}';
       </update>
     
        <update id="newColumn">
        ALTER TABLE  ${tableName} ${tableBody};
       </update>
        <update id="alterTable">
       alter table ${oldtableName} rename ${newtablename};
       </update>
       
         <update id="alterTableComment">
         ALTER TABLE  ${tableName} comment='${tableBody}';
       </update>
       
       <update id="alterColumn">
       alter table ${tableName}  ${tableBody};
       </update>
       
        <update id="alterColumnComment">
       alter table ${tableName}  modify column ${tableBody};
       </update>
       
       <update id="dropTable">
       drop table ${tableName};
       </update>
       <update id="deleteColumn">
       alter table ${tableName}  ${tableBody};
       </update>
       
         <update id="updateMmetadatatablename">
        update  metadata set tablename = '${newtablename} ' where tablename = '${oldtablename}';
       </update>
         <update id="updateMmetadatatablenameComment">
           update  metadata set tablenamecn = '${newtablecomment}'  where tablename = '${tableName}';
       </update>
         <update id="dropMajorkey">
           alter table ${tableName} drop primary key;
       </update>
         <update id="addMajorkey">
         alter table ${tableName} add primary key(${majorkey});
       </update>
     
     <select id="getTablenameByid" resultType="java.util.Map" parameterType="java.lang.String" >
			  SELECT
			max(id) num,
			tablename   name
			FROM
			metadata a
			where 1=1
			 ${id}
			GROUP BY
			a.tablename;
    </select>
    <select id="getTableRelation" resultType="java.util.Map" parameterType="java.lang.String" >
			  SELECT
			 id,
			fathernode   pid
			FROM
			metadata a
			where fathernode is not null and TRIM(fathernode)!='';
    </select>
      <select id="getTablenameAndIdMap" resultType="java.util.Map" parameterType="java.lang.String" >
			  SELECT
			 id,
			tablename   
			FROM
			metadata a
			where field ='id'
    </select>
      <select id="getTablenameIsdelcascade" resultType="java.util.Map" parameterType="java.lang.String" >
		SELECT
			isdelcascade
			FROM
			metadata a
			where field ='id' and tablename = '${tablename}'
    </select>
    
       
</mapper>
